

.p-galleria-thumbnail-container{
    background-color: whitesmoke;
}

.image-gallery{
    border: 1px solid  #d4d4d4;
    border-radius: 12px;
    padding: 5px;
}

#detail-page .p-galleria-content{
   
    display: flex;
    justify-content: space-between;
}