

.p-galleria-thumbnail-container{
    background-color: transparent;
}

.image-gallery{
    border: 1px solid  #d4d4d4;
    border-radius: 12px;
    padding: 5px;
}

#detail-page .p-galleria-content{
   
    display: flex;
    justify-content: space-between;
}


#detail-page .p-galleria-thumbnail-item-content{
   
    border: 2px solid #2b4fab;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 5px;
}