@tailwind base;
@tailwind components;
@tailwind utilities;



* {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}


body {
  font-family: TTInterfaceRegular;
  font-weight: 400;
  overflow-x: hidden;
  background-color: #F5F7FA;
}




.container {
  width: 100%;
  max-width: 1225px;
  margin: 0 auto;
  padding: 0 20px;
}



@font-face {
  font-family: TTInterfaceLight;
  src: url(../assets/fonts/TTInterface/TTInterfaces-Light.ttf);
}

@font-face {
  font-family: TTInterfaceRegular;
  src: url(../assets/fonts/TTInterface/TTInterfaces-Regular.ttf);
}

@font-face {
  font-family: TTInterfaceMedium;
  src: url(../assets/fonts/TTInterface/TTInterfaces-Medium.ttf);
}

@font-face {
  font-family: TTInterfaceSemiBold;
  src: url(../assets/fonts/TTInterface/TTInterfaces-SemiBold.ttf);
}

@font-face {
  font-family: TTInterfaceBold;
  src: url(../assets/fonts/TTInterface/TTInterfaces-Bold.ttf);
}